option_settings:
  - namespace: aws:elasticbeanstalk:hostmanager
    option_name: LogPublicationControl
    value: true
  - namespace: aws:elasticbeanstalk:sqsd
    option_name: WorkerQueueURL
    value: https://sqs.ap-southeast-2.amazonaws.com/947734422499/s3-object-created-dev-raw-user-content
  - namespace: aws:elasticbeanstalk:sqsd
    option_name: HttpConnections
    value: 5
  - namespace: aws:autoscaling:asg
    option_name: MinSize
    value: 1
  - namespace: aws:autoscaling:asg
    option_name: MaxSize
    value: 8
  - namespace: aws:autoscaling:trigger
    option_name: MeasureName
    value: CPUUtilization
  - namespace: aws:autoscaling:trigger
    option_name: Statistic
    value: Average
  - namespace: aws:autoscaling:trigger
    option_name: Unit
    value: Percent
  - namespace: aws:autoscaling:trigger
    option_name: Period
    value: 1
  - namespace: aws:autoscaling:trigger
    option_name: BreachDuration
    value: 2
  - namespace: aws:autoscaling:trigger
    option_name: UpperThreshold
    value: 75
  - namespace: aws:autoscaling:trigger
    option_name: UpperBreachScaleIncrement
    value: 1
  - namespace: aws:autoscaling:trigger
    option_name: LowerThreshold
    value: 50
  - namespace: aws:autoscaling:trigger
    option_name: LowerBreachScaleIncrement
    value: -1
  - namespace: aws:autoscaling:launchconfiguration
    option_name: InstanceType
    value: c3.large
  - option_name: FLASK_DEBUG
    value: true