option_settings:
  - namespace: aws:elasticbeanstalk:hostmanager
    option_name: LogPublicationControl
    value: true
  - namespace: aws:elasticbeanstalk:sqsd
    option_name: WorkerQueueURL
    value: https://sqs.ap-southeast-2.amazonaws.com/048441397338/s3-object-created-raw-user-content
  - option_name: AWS_BUCKET_NAME
    value: test-resizes
  - option_name: FLASK_DEBUG
    value: true